* {
  box-sizing: border-box;
  font-family: system-ui;
}
body {
  height: 100vh;
}
#root, main, .App {
  /*height: auto;*/
  overflow: hidden;
}

.App{
  background: linear-gradient(238deg, rgba(253, 136, 0, 0.6), rgba(253, 0, 143, 0.57), rgba(151, 0, 253, 0.63), rgba(0, 61, 253, 0.64), #05c7e6, #4bd58d);
  background-size: 350% 500%;
  -webkit-animation: rainbow 7s ease infinite;
  animation: rainbow 7s ease infinite;
  min-height: 100vh;
}
@-webkit-keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
@keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

.main-content{
  background-color: white;
  min-height: 50vh;
  display: flex;
}
a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginBox {
  margin: 0 auto;
  width: 500px;
  border: 1px solid lightgrey;
  padding: 100px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.primeBtn {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  background-image: linear-gradient(to right, #ff67d4 0%, #a6c1ee 51%, #c455ff 100%);
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  border: white;
}

.primeBtn:hover {
  background-position: right center; /* change the direction of the change here */
}
.header {
  background-color: white;
  width: 100%;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.header a, .ordinaryBtn {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  background: transparent;
  border-radius: 10px;
  padding: 3px;
  font-size: 17px;
  border: white;
}
.header a::before, .ordinaryBtn::before{
  content: '';
  position: absolute;
  width: 110%;
  height: 3px;
  border-radius: 4px;
  background: linear-gradient(to right, #ff67d4 0%, #a6c1ee 51%, #c455ff 100%);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.header a:hover::before, .ordinaryBtn:hover::before{
  transform-origin: left;
  transform: scaleX(1)
}
.primeBtn a {
  color: white;
}
.primeBtn a::before {
  background: transparent;
}

.main-content {
  width: 85%;
  min-height: 91vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align-last: center;
  padding: 20px 10px;
}
.button-holder {
  width: 20%;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.logo {
  width: 100px;

}
.link-holder {
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.drop-area {
  height: 15vh;
  border: 2px dashed #7d7d7d;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drop-active {
  border: 2px dashed black;
}
.avatarPic {
  width: 150px;
  height: 150px;
  border: double 4px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #0077ff, #ff0088);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  object-fit: cover;
}
.material-icons {
  font-size: 30px;
}
.search-box {
  display: flex;
  align-items: center;
}
.small-input {
  padding: 7px;
  font-size: 18px;
}

.small-btn {
  padding: 5px;
  display: flex;
}
.small-ava {
  width: 50px;
  height: 50px;
}
.search-item {
  padding: 7px 100px 7px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 6px;
  margin: 10px 0;
}
.post-owner {
  font-size: 17px;
}
.post-title {
  font-size: 16px;
}
.card-header{
  display: flex;
  padding: 3px 10px;
  justify-content: space-between;
  align-items: center;
}
.card-author-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*card*/
.MuiCard-root {
  margin-bottom: 15px;
}
.MuiCardContent-root {
  padding: 5px 15px;
}
/*like button holder*/
.MuiCardActions-root {
  padding: 0;
}
.red {
  color: red;
}
.like-button {
  display: flex;
  align-items: center;
  font-size: 2rem;
}
/* heart icon */
.css-i4bv87-MuiSvgIcon-root {
  font-size: 2rem;
}
.like-count {
  font-size: 25px;
}
/*card bottom*/
.MuiCardActions-root {
  padding: 0;
}
.profile-box {
  display: flex;
  margin-bottom: 60px;
}
.profile-info-box {
  margin-left: 15px;
  width: 350px;
}
.profile-buttons, .profile-nums {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 10px;
}
/*input text and title*/
.MuiFormControl-root {
  display: inline-table;
}
.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card-item {
  justify-content: center;
  display: flex;
  align-items: center;
  height: auto;
}
.card-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}
/*card bottom*/
.card-bottom {
  display: flex;
  padding: 0 8px 17px;
  height: 35px;
  align-items: center;
}



