* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
}
body {
  margin: 0;
  height: 100vh;
}
#root, main, .App {
  overflow: hidden;
}
p {
  margin: 0;
}
.App{
  -webkit-animation: rainbow 10s ease infinite;
  animation: rainbow 10s ease infinite;
  min-height: 100vh;
  background: linear-gradient(238deg, rgba(253, 136, 0, 0.4), rgba(253, 0, 143, 0.4), rgba(151, 0, 253, 0.4), rgba(0, 61, 253, 0.4), #05c7e6, #4bd58d);
  background-size: 350% 500%;
  background-attachment: fixed;
}
@-webkit-keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
@keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginBox {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: 1px solid lightgrey;
  padding: 100px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  position: relative;
}
.primeBtn {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  background-image: linear-gradient(to right, #ff67d4 0%, #a6c1ee 51%, #c455ff 100%);
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  border: white;
}

.primeBtn:hover {
  background-position: right center; /* change the direction of the change here */
}
.sidebar {
  background-color: white;
  width: 15%;
  height: 100%;
  position: fixed;
}
.head-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  align-items: center;
}
.sidebar a, .ordinaryBtn {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  background: transparent;
  border-radius: 10px;
  padding: 3px;
  font-size: 17px;
  border: white;
}
.sidebar a::before, .ordinaryBtn::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background: linear-gradient(to right, #ff67d4 0%, #a6c1ee 51%, #c455ff 100%);
  bottom: 1px;
  left: -1px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}
.sidebar a:hover::before, .ordinaryBtn:hover::before{
  transform-origin: left;
  transform: scaleX(1)
}
.primeBtn a {
  color: white;
}
.primeBtn a::before {
  background: transparent;
}
.link-box {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35%;
}
.link-box a {
  font-size: 22px;
  display: flex;
  justify-content: left;
}
.link-box a > svg {
  margin-right: 10px;
}
.main-content {
  width: 80%;
  min-height: 100vh;
  margin: 0 0 0 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align-last: center;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: white;
}
.main-content-not-logged {
  width: 100%;
  display: flex;
  height: 600px ;
  text-align-last: center;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 55px;
  background-color: white;
}
.button-holder {
  width: 20%;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.logo {
  width: 100px;
}
.drop-area {
  height: 20vh;
  min-width: 150px;
  border: 2px dashed #7d7d7d;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}
.avatarPic {
  width: 150px;
  height: 150px;
  border: double 4px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #0077ff, #ff0088);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  object-fit: cover;
}
.material-icons {
  font-size: 30px;
}
.search-box {
  display: flex;
  align-items: center;
}
.small-ava {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.search-item {
  padding: 7px 0 7px 15px;
  display: flex;
  width: 300px;
  height: 75px;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 6px;
  margin: 10px 0;
}
.search-item a {
  margin-right: 30px;
}
.post-holder {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.post-holder > button {
  border-radius: 50%;
  border: 1px solid grey;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 7px;
}
.post-holder > button:hover {
  color: #c455ff;
  border-color: #c455ff;
  box-shadow: 0 1px 7px rgb(0, 0, 0.2);
}
.post-holder > button:active {
box-shadow: none;
  transform: translateY(3px);
}
.post-holder > button:disabled {
  box-shadow: none;
  background-color: rgba(125, 125, 125, 0.56);
}
/*card*/
.post-owner {
  font-size: 17px;
}
.post-title {
  text-align: center;
  font-size: 23px !important;
}
.post-text {
  text-align: center;
  font-size: 20px !important;
}
.card-header{
  display: flex;
  padding: 3px 10px;
  justify-content: space-between;
  align-items: center;
}
.card-author-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.MuiCard-root {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.MuiCardContent-root {
  padding: 5px 15px;
}
/*like button holder*/
.MuiCardActions-root {
  padding: 0;
}
.red {
  color: red;
}
.like-button {
  display: flex;
  align-items: center;
}
/* heart icon */
.css-i4bv87-MuiSvgIcon-root {
  font-size: 2rem;
}
.like-count {
  font-size: 30px;
  margin-left: 7px;
}
.MuiIconButton-root:hover {
  background-color: transparent !important;
}

.profile-box {
  display: flex;
  margin-bottom: 45px;
}
.profile-info-box {
  margin-left: 15px;
  width: 400px;
}
.profile-buttons, .profile-nums {
  display: flex;
  width: 110%;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.profile-buttons {
  margin: 20px auto 0;
}
/*input text and title*/
.MuiFormControl-root {
  display: inline-table;
}
/*reset carousel styles for arrows*/
.css-1abc02a:hover button,
.css-hn784z:hover button {
  background: transparent !important;
  filter: none !important;
}
.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.feed-post-like-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  height: 25px;
  padding: 5px 0;
}
.feed-post-like-info {
  display: flex;
}
.feed-post-like-info span {
  font-size: 16px;
}
.feed-post-like-info > * {
  text-transform: uppercase;
}
.feed-post-img {
  width: 100%;
  height: 530px;
  object-fit: cover;
}

.gallery {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
}
.gallery-item {
  position: relative;
  color: #fff;
  cursor: pointer;
  width: 350px;
  height: 350px;
}
.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.gallery-item-info {
  display: none;
}
.gallery-item-info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
}

.gallery-item-likes {
  font-size: 22px;
  display: flex;
  align-items: center;
}
.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal-image-box {
  width: 65%;
  background: black;
  display: flex;
  align-items: center;
}
.modal-info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
}
/*card bottom*/
.card-bottom {
  padding: 0 8px 17px;
  display: flex;
  align-items: end;
}
.unstyledBtn {
  background-color: transparent;
  border: none;
}
button:disabled,
.disabled-btn,
button[disabled]{
  border: 1px solid #999999;
  background-color: #ffffff;
  color: #666666;
  background-image: none;
}
.carousel {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.carousel-box {
  display: flex;
  height: 500px;
  place-content: center;
}
/*carousel width*/
.css-ohwg9z {
  width: 100%;
}
/*dots*/
.css-1m9128y {
  width: 100%;
  position: absolute;
  bottom: 15px;
  left: 0;
  z-index: 5;
}
.input-area {
  width: 50%;
  margin: 20px auto;
}
.preview-box {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.preview-img {
  width: auto;
  height: 150px;
  margin-top: 10px;
}
/*scroll up the screen button*/
.up-btn {
  border-radius: 50% !important;
  padding: 5px !important;
}
.close-modal {
  position: sticky;
  height: 10px;
  top: 10px;
}
.close-modal-btn {
  position: sticky;
  top: 9px;
  right: 0px;
  background: transparent;
  border: none;
  z-index: 100;
}
.modal-image-box img {
  object-fit: contain;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
#close-modal-icon:active {
  color: white !important;
}
.like-brief-info {
  cursor: pointer;
  display: flex;
  align-items: self-start;
  text-transform: uppercase;
  font-size: 18px;
}
.edit-box {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  width: 350px;
  align-items: center;
  margin: 20px 0 35px;
}
.box-flexible, .box-flexible .preview-img {
  height: 200px;
}
.box-flexible  button{
  margin-left: 25px;
}
.MuiCardContent-root {
  padding: 0 !important;
}
.delete-icon {
  position: absolute;
  top: 22px;
  right: 15px;
  transform: scale(1.3);
  color: red;
  background: white;
  border-radius: 50%;
}
.comments-box {
  width: 100%;
  height: 500px;
  padding: 2% 0 0 25px;
}
.comments-box > div {
  margin-bottom: 16px;
  overflow-x: hidden;
  padding: 10px;
  border: 1px dashed #a5a5a5;
  border-radius: 8px;
}
.comments-box > div:first-child {
  border: none;
}
.comment-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flexbox {
  display: flex;
  padding: 0 5px;
}
