* {
  box-sizing: border-box;
}
body {
  height: 100vh;
}
#root, main, .App {
  height: 100vh;
  overflow: hidden;
}

.App{
  background: linear-gradient(238deg, rgba(253, 136, 0, 0.6), rgba(253, 0, 143, 0.57), rgba(151, 0, 253, 0.63), rgba(0, 61, 253, 0.64), #05c7e6, #4bd58d);
  background-size: 1200% 1200%;
  -webkit-animation: rainbow 20s ease infinite;
  animation: rainbow 20s ease infinite;
}
@-webkit-keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
@keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

.main-content{
  background-color: white;
  min-height: 50vh;
}
a {
  text-decoration: none;
  color: black;
}
.loginBox {
  margin: 0 auto;
  width: 500px;
  height: 20%;
  border: 1px solid lightgrey;
  padding: 100px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.primeBtn {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  background-image: linear-gradient(to right, #ff67d4 0%, #a6c1ee 51%, #c455ff 100%);
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  border: white;
}

.primeBtn:hover {
  background-position: right center; /* change the direction of the change here */
}
.header {
  background-color: white;
  width: 100%;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  height: 15vh;
}
a, .ordinaryBtn {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  background: transparent;
  border-radius: 10px;
  padding: 3px;
  font-size: 17px;
  border: white;
}
a::before, .ordinaryBtn::before{
  content: '';
  position: absolute;
  width: 110%;
  height: 3px;
  border-radius: 4px;
  background: linear-gradient(to right, #ff67d4 0%, #a6c1ee 51%, #c455ff 100%);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a:hover::before, .ordinaryBtn:hover::before{
  transform-origin: left;
  transform: scaleX(1)
}
.primeBtn a {
  color: white;
}

.main-content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align-last: center;
  padding: 20px 10px;
}
.button-holder {
  width: 20%;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.logo {
  width: 100px;

}
.link-holder {
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.drop-area {
  /*height: 20vh;*/
  border: 2px dashed #7d7d7d;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drop-active {
  border: 2px dashed black;
}
.avatarPic {
  width: 150px;
  border-radius: 50%;
}



/*@use "@material/button/styles"*/
/*@use "@material/icon-button";*/

/*@include icon-button.core-styles;*/

